h1{
    color: #6666FF;
    background: #2196f38f;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#th1{
    color: #ffffff;
    background: #FF0099;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#th2{
    color: #ffffff;
    background: #FF0099;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#th3{
    color: #ffffff;
    background: #FF0099;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#th4{
    color: #ffffff;
    background: #FF0099;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#th5{
    color: #ffffff;
    background: #FF0099;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#th6{
    color: #ffffff;
    background: #FF0099;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#th7{
    color: #ffffff;
    background: #FF0099;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#th8{
    color: #000000;
    background: #33FFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em; display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}
#ID1{
    background: #99FFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em; margin-left: 0em !important;
}
.dangnhapthatbai{
    color: #ffffff;
    background: #FF0099;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.5em;
    margin-left: 0em !important;
}